# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios

In [3]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

lst = range(1,10)

print([i for i in lst if i % 2 == 0])

[2, 4, 6, 8]

In [5]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
obj1 = {"obj1":1}
obj2 = {"obj2":1}
obj3 = {"obj3":1}
obj4 = {"obj4":1}
obj5 = {"obj5":1}


print(obj1,obj2,obj3,obj4,obj5)

{'obj1': 1} {'obj2': 1} {'obj3': 1} {'obj4': 1} {'obj5': 1}

In [7]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
name = 'Dário '
lastName = 'Montair'

fullname = name + lastName

print(fullname)

Dário Montair

In [8]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupl = (1, 2, 2, 3, 4, 4, 4, 5)

count = tupl.count(4)

print(count)

3

In [9]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

dict1 = {}

print(dict1)

{}

In [12]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

produto = {
    "sku":123123,
    "validade":'10/05/2023',
    "nome":'treloso',
    "valor":1.0
    }


print(produto)

{'sku': 123123, 'validade': '10/05/2023', 'nome': 'treloso', 'valor': 1.0}

In [14]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
produto["fabricante"] = "Vitarela"
print(produto)

{'sku': 123123, 'validade': '10/05/2023', 'nome': 'treloso', 'valor': 1.0, 'fabricante': 'Vitarela'}

In [15]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

despesa = {
    "data":"10/08/2023",
    "descricao":"Paçoquinha papai ui",
    "valor":2.5,
    "tagsId":[2,4]
}

print(despesa)

{'data': '10/08/2023', 'descricao': 'Paçoquinha papai ui', 'valor': 2.5, 'tagsId': [2, 4]}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

lst = ['Elm',(2,3),{"data":"10/08/2023",
    "descricao":"Paçoquinha papai ui"},2.71271233333333333333333333333333333333333333333333333333333333333333333333333333333333333127]

print(lst)

['Elm', (2, 3), {'data': '10/08/2023', 'descricao': 'Paçoquinha papai ui'}, 2.712712333333333]

In [16]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

print(frase[0:17])

Cientista de Dado

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>